.container {
    width: auto;
    display: flex;
    justify-content: center;
}
.container-todo {
    background-color: white;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 10px;
}
h1 {
    margin: 20px auto;
    color: #389870;
}
form {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
input[type=text] {
    width: 85%;
    padding-left: 5px;
    background-color: #ecf8f3;
    border: none;
    border-radius: 3px 0 0 3px;
}
input[type=text]:focus {
    outline-style: none;
}
input:focus::placeholder {
    opacity: 0;
  }
input[type=submit] {
    width: 15%;
    cursor: pointer;
    color: white;
    background-color: #389870;
    padding: 0;
    border-top: 2px solid #389870;
    border-right: 2px solid #389870;
    border-bottom: 2px solid #389870;
    border-left: none;
    border-radius: 0 3px 3px 0;
}
ul {
    margin: 10px 0px;
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.todo-item {
    margin-bottom: 3px;
    height: 40px;
    width: 100%;
    display: flex;
    background-color: #ededed;
}
input[type=checkbox] {
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.wrap-itens {
    display: flex;
    align-items: center;
    width: 90%;
}
.delete-btn {
    background-color: #ff5c5c;
    width: 10%;
    color: white;
    border: none;
}
.delete-btn:hover {
    background-color: #ff8080;
}
.delete-icon {
    font-size: 20px;
    cursor: pointer;
}